<main class="page-content">
    <div class="container-fluid position-relative">
    <div class="row">
        <div class="col-12">
            <h2><%= title %></h2>
        </div>
        <!-- <div class="col-4 text-end">
            <% if(typeof(showButton) !== "undefined" && showButton === true) { %>
            <a href="<%= buttonUrl %> " class="btn btn-primary"><%= buttonText %> </a>
            <% } %>
        </div> -->
    </div>
    <hr class="bold">